<%- include('header'); %>
<div class="body">
  <div class= 'textBody' >
    <%- body %>
  </div>
  <div id="backToFrontPageDiv">
    <a href="/" id="backToFrontPage"> Til baka </a>
  </div>
</div>
<%- include('footer'); %>
