<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title><%= title1 %></title>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
      <div id="header">
        <div class="title">
          <h1> <%= title %> </h1>
        </div>
      </div>
    <section id="text-section">
