<%- include('header'); %>
<div class="notFoundTextDiv">
  <div class= 'notFoundText' >
    <h1> <%= text %></h1>
  </div>
  <div id="backToFrontPageDiv">
    <a href="/" id="backToFrontPage"> Til baka </a>
  </div>
</div>
<%- include('footer'); %>
